.home{
    font-family: snas-serif;
    font-size: 16px;
    color:#F2F2F2;
    background-color:#222831;
    /* background-color:rgb(199, 199, 199); */
}

.home a{
    color: rgb(0, 0, 89);
}

.home a:hover{
    color:black;
    background-color: green;
    text-decoration: underline;
}
#home_header {
    background-color: #0677a7;
    padding: 15px;

  }

.home li{
    font-size: 50px;
    padding: 10px;
    margin: 20px;
}

#Project_home {
    font-size: 60px;
    text-align: center;
    margin-top: 210px;
    margin-bottom: 100px;
}

button {
    width: 25%; 
    height: 80px; 
    font-size: 25px; 
    background-color: #393E46;
    color: #F2F2F2;
    border: none;
    transition: font-size 0.5s ease;
}

button:hover {
    background-color: #F2F2F2;
    color: #222831;
    font-size: 30px;
}

.center {
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}