/* Basic Syels*/

:root {
    --back-color: #2C3333;
    --primary-color: #2E4F4F;
    --first-secondary-color: #0E8388;
    --second-secondary-color: #CBE4DE;
    --third-secondary-color: #bfbfbf;
}

body {
    background-color: var(--primary-color);
    margin: 0;
    color: var(--second-secondary-color);
    font-family: sans-serif;
} 

h1 {
    font-size: 45px;
    text-align: left;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*------------------------------------------------*/

/* Home Page */

.home {
    font-size: 16px;
    color: var(--second-secondary-color);
    background-color: var(--primary-color);
}

#Project_home {
    font-size: 60px;
    text-align: center;
    margin-top: 210px;
    margin-bottom: 100px;
}

.Hcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    min-height: 100vh;
    margin: 20px;

}

.homeImage{
    width: 40vw;
}

.centered_data{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*------------------------------------------------*/

/* Navigation Bar */

header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    background-color: var(--back-color);
    width: 20vw;
    transition: all 0.9s ease-in-out;
}

header .navigation {
    flex: 6;
}

.logo {
    margin: 0 auto;
    margin: 100px;
    margin-top: 20px;
    flex: 1;
    color: var(--second-secondary-color);
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: var(--second-secondary-color);
}

.navigation a:hover {
    background-color: var(--second-secondary-color);
    color: var(--back-color);
}

.navigation a.active,
.navigation a.active:hover {
    background-color: var(--primary-color);
    color: var(--second-secondary-color);
}

.sidebar {
    display: block;
    top: 0;
    position: fixed;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

.content {
    margin-left: 20vw;
    width: 78vw;
}


/*------------------------------------------------*/

/* Inputs and Buttons */

/* Buttons */
button {
    padding: 20px;
    font-size: 20px;
    background-color: var(--back-color);
    color: var(--second-secondary-color);
    border: none;
    transition: font-size 0.5s ease;
    border-radius: 20px;
    margin: 5px;
}

button:hover {
    background-color: var(--second-secondary-color);
    color: var(--back-color);
}

/* Inputs */
input {
    border: none;
    border-bottom: 1px solid var(--second-secondary-color);
    background: none;
    color: var(--second-secondary-color);
    outline: none;
    font-size: 20px;
    margin-top: 5px;
}

input,
label {
    width: 100%;
}

input[type="radio"] {
    width: auto;
    margin-top: 20px;
    accent-color: var(--first-secondary-color);
}

input[type="submit"],
input[type="reset"] {
    border: none;
    background-color: var(--first-secondary-color);
    border-radius: 20px;
    font-size: 20px;
    height: 30px;
    margin-right: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: var(--second-secondary-color);
    color: var(--back-color);
}

label {
    font-size: 20px;
    margin-bottom: 10px;
}

/* for calender icon to be white  */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/*------------------------------------------------*/

/* Add Employee Page */
.center {
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

/* form */
.form_div {
    padding: 10px 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 20px rgb(46, 46, 46);
    text-align: left;
    width: 60%;
    background-color: var(--back-color);
    color: var(--second-secondary-color);
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;
}

form {
    display: block;
}


.form_element {
    float: left;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}

.inline_form_element {
    width: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.empinfo label {
    color: var(--second-secondary-color);
}

#adress_input {
    display: block;
    overflow: hidden;
}

#adress_input input {
    width: 98%;
}

/*------------------------------------------------*/

/* Search for Employee Page */

.search {
    font-size: 50px;
    font-style: normal;
    text-align: center;
    width: 40%;
    margin: auto;
}

.searchSection 
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
}

input[type="search"]
{
    width: 80%;
}

#tableDiv{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;
}

.searchTable
{
    padding: 25px;
    margin: 15px;
    font-size: 20px;
    background-color: var(--back-color);
    color: var(--second-secondary-color);
}

.searchTable button {
    border: none;
    background-color: var(--first-secondary-color);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
.searchTable button:hover {
    background-color: var(--second-secondary-color);
    color: var(--back-color);
}

/*------------------------------------------------*/

/* Regect and Accept Page */

/* Table Syle */
.table {
    padding: 50px;
    margin: 15px;
    font-size: 30px;
    background-color: var(--back-color);
    color: var(--second-secondary-color);
}

thead {
    background-color: var(--primary-color);
}

.table td {
    padding: 10px;
}

.table button {
    font-size: 20px;
}


/*------------------------------------------------*/

/*submit vacation*/

.idVacation{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#reason{
    border: none;
    border-bottom: 1px solid var(--second-secondary-color);
    background: none;
    color: var(--second-secondary-color);
    outline: none;
    font-size: 20px;
    margin-top: 5px;
}


/*------------------------------------------------*/

/* vacation list */

#vacationTable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*------------------------------------------------*/

/*Responsive and Hamburger nav*/

@media only screen and (max-width: 769px) {
    header {
        flex-direction: row;
        justify-content: start;
        width: 100%;
        min-height: 0;
        height: 10vh;
        margin-left: 5vw;
        margin: 0;
        position: absolute;
        background-color: var(--back-color);
    }

    .navigation {
        display: none;
    }

    .sidebar {
        display: flex;
        width: 100%;
    }

    .navbar_toggle {
        display: block;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        align-items: center;
    }

    .navbar_toggle span {
        display: block;
        height: 1vh;
        width: 10vw;
        margin: 1vh auto;
        background-color: var(--second-secondary-color);
    }

    .navbar_toggle.active span:nth-child(1) {
        transform: rotate(90deg) translate(2vh, 1.5vh);
    }

    .navbar_toggle.active span:nth-child(2) {
        transform: rotate(90deg);
    }

    .navbar_toggle.active span:nth-child(3) {
        transform: rotate(90deg) translate(-2vh, -1.5vh);
    }

    .toggle_container {
        display: flex;
        flex-direction: row;
        position: absolute;
        gap: 20vw;
    }

    .navigation.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: var(--back-color);
    }


    h1 {
        font-size: clamp(0.5em, 1.5em, 3em);
    }

    #form .form_element label {
        font-size: clamp(0.7em, 1em, 1.5em);
    }

    #form .form_element input {
        font-size: clamp(0.7em, 1em, 1.5em);
        width: fit-content;
    }

    .table {
        padding: 1vh;
        margin: 1vh;
        font-size: unset;
    }

    .table *{
        font-size: clamp(1.5vw, 3vw, 3vw);
        
        
    }

    .table td {
        padding: 1vw;
        margin: 0;
    }

    .table button {
        font-size: clamp(1.5vw, 2vw, 3vw);
    }

    .content {
        margin: 1vw;
        margin-top: 10vh;
        
    }

    .container {
        justify-content: left;
        min-height: 100vh;
        overflow: hidden;
        
    }

}




@media only screen and ((min-width: 480px) and (max-width: 768px)){
    #form .form_element label {
        font-size: clamp(0.5em, 1.2em, 2em);
    }

    #form .form_element input {
        font-size: clamp(0.5em, 1.2em, 2em);
    }

    .container {
        justify-content: center;
    }


}