{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Update an existing employee data
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <div class="menu-bar">
                <div class="menu">
                    Menu
                </div>
                    <h3 class="logo">HR System</h3>
            </div>
            <nav class="navigation">
                <a href="{% url 'hr_home' %}">Home</a>
                <a href="{% url 'add_new' %}">Add Employee</a>
                <!-- <a href="{% url 'employee_info' %}" class="active">Employee Information</a> -->
                <a href="{% url 'search_employee' %}">Search Employee</a>
                <a href="{% url 'submit_vacation' %}">Vacations List</a>
                <a href="{% url 'vacation' %}">Submit Vacation</a>
            </nav>
        </header>

        <div class="content">
            <div class="searchSection" id="searchSection">
                <label id="search_lable">Name of employee</label>
                <br>
                <input type="search" required id="searchName">
                <br>
                <button onclick="search()" value="Search" name="search">Search</button>
            </div>
            <div id="tableDiv">
                <table class="searchTable" id="searchTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>phone</th>
                            <th>id</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="Tbody">
                        <tr>
                            <td>Ahmed</td>
                            <td>01050505050</td>
                            <td>20</td>
                            <td>
                                <button>Approve</button>
                                <button>Reject</button>
                                <button>Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div id="employee_info_url" data-url="{% url 'employee_info' %}"></div>
    <script src="{% static 'JavaScript/search.js' %}"></script>
    <script src="{% static 'JavaScript/Home.js' %}"></script>
    
</body>
</html>